{{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}

{{ $small := $image.Resize "320x webp picture" }}
{{ $medium := $image.Resize "450x webp picture" }}
{{ $large := $image.Resize "600x webp picture" }}
{{ $xlarge := $image.Resize "750x webp picture" }}

{{ $smalljpg := $image.Resize "320x jpg picture" }}
{{ $mediumjpg := $image.Resize "450x jpg picture" }}
{{ $largejpg := $image.Resize "600x jpg picture" }}
{{ $xlargejpg := $image.Resize "750x jpg picture" }}

{{ $alt := .PlainText | safeHTML }}

{{ $caption := "" }}
{{ with .Title }}
  {{ $caption = . | safeHTML }}
{{ end }}



<div class="row text-center">
  <figure class="col border border-light text-center bg-light p-2">
    <a href="{{ $image.RelPermalink }}">
      <picture class="justify-align-center">
        <source
        sizes=" (min-width: 576px) 55vw ,(min-width: 768px) 80vw , (min-width: 1200px) 40vw , (min-width: 1400px) 30vw ,80vw"
        srcset="{{ $small.RelPermalink }} 320w, {{ $medium.RelPermalink }} 450w, {{ $large.RelPermalink }} 600w, {{ $xlarge.RelPermalink }} 750w" type="image/webp">
        <img src="{{ $smalljpg.RelPermalink }}, {{ $mediumjpg.RelPermalink }}, {{ $largejpg.RelPermalink }}, {{ $xlargejpg.RelPermalink }}" type="image/jpg" 
        alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}" {{ with .Title}} title="{{ . }}"{{ end }} style="max-width: 700px;">
      </picture>
    </a>
    {{ with $caption }}
      <figcaption class="text-center">{{ . | markdownify }}</figcaption>
    {{ end }}
  </figure>
</div>