{{ define "main" }}
<div class="container">
    <h1 class="text-capitalize text-center">Catégorie {{ .Title }}</h1>

    <p class="text-center fs-italic">Voici tous les articles de la catégorie {{ .Title }}</p>
    <div class="row">
        <div class="col-8">
            {{ range .Pages }}
              {{ partial "liste-articles" . }}
            {{ end }}  
        </div>
    
        <div class="col-3">
          
            {{ partial "barre-laterale" . }}
           
        </div>
      </div>
    </div>
</div>
{{ end }}