


  <div class="col-12">
    <h5 class="text-center">Besoin d'aide ?</h5>
  </div>

  <div class="col-3 text-center">
    <p><em>Communauté Francophone HACF</em></p>
    <ul class="list-inline">
      {{ range .Site.Menus.aidehacf }}
      <li class="list-inline-item">
        <a href="{{ .URL }}" title="{{ .URL }}" target="_blank">{{ .Pre }}</a>
      </li>
      {{ end }}
    </ul>
  </div>

  <div class="col-3 text-center">
    <p><em>Communauté Officielle HA</em></p>
    <ul class="list-inline">
      {{ range .Site.Menus.aidehaoff }}
      <li class="list-inline-item">
        <a href="{{ .URL }}" title="{{ .URL }}" target="_blank">{{ .Pre }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
