<header class="sticky-top">
      <!--  Menu réseaux sociaux  -->
      {{ partial "rs-menu" . }}

      <!--  Menu Général (main)  -->
      <nav class="navbar navbar-expand-sm border-bottom bg-light " aria-label="Third navbar example">
        <div class="container">
          <a href="{{ .Site.BaseURL }}" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="{{ .Site.Params.logo }}" width="30" height="30" class="d-inline-block align-top" alt="{{ .Site.Title }}-logo" title="{{ .Site.Title }}-logo">
            <span class="fs-4 m-1">{{ .Site.Title }}</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse justify-content-end" id="navbarsExample03">
            <ul class="nav nav-pills">
              {{ range .Site.Menus.main }}
              <li class="nav-item"><a href="{{ .URL }}" class="nav-link" aria-current="page">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </nav>
</header> 